.form__input-text {
  display: block;

  padding: 20px;

  color: $main-color;
  font-size: 18px;
  line-height: 30px;

  border: 2px solid #e5e5e5;
  border-radius: 3px;

  resize: none;
}

.form__input-text::placeholder {
  color: $main-color;
}
