.markets-list {
  display: flex;

  justify-content: space-around;

  list-style: none;

  &__item {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &__item:first-of-type {
    background-image: url("../img/logo-apple.svg");
  }

  &__item:nth-of-type(2) {
    background-image: url("../img/logo-android.svg");
  }

  &__item:last-of-type {
    background-image: url("../img/logo-microsoft.svg");
  }

  &__link {
    display: inline-block;

    width: 47px;
    height: 56px;

    color: $white-color;
    text-decoration: none;
    font-size: 0;

    vertical-align: top;
  }
}

@media (min-width: $tablet-width) {
  .markets-list__item {
    background-position: bottom;
    background-size: unset;
  }
}
