.content-container {
  width: 320px;

  position: relative;

  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .content-container {
    width: $tablet-width;
  }

  .content-container--flex {
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .content-container {
    width: $desktop-width;

    position: relative;
  }

  .content-container--desktop-flex {
    display: flex;
    justify-content: space-between;
  }
}
