.hero-main {
  display: flex;

  flex-direction: column;
  flex-shrink: 0;

  justify-content: flex-start;

  &__heading {
    display: none;

    @include margin-killer;
    padding: 0 40px;
    margin-bottom: 40px;

    color: white;
    text-align: center;

    @include general-heading-tablet;
  }

  &__wrapper {
    padding: 0 20px;
  }

  &__button {
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 35px;
  }
}

@media (min-width: $tablet-width) {
  .hero-main__heading {
    display: block;

    margin-bottom: 30px;
  }

  .hero-main__wrapper {
    width: 320px;

    padding: 0 10px;

    text-align: center;
  }

  .hero-main__button {
    margin-bottom: 46px;
    padding-left: 45px;
    padding-right: 45px;
  }
}

@media (min-width: $desktop-width) {
  .hero-main__wrapper {
    width: 308px;

    padding-left: 5px;
  }

  .hero-main__heading {
    @include general-heading-desktop;

    padding: 0;
    margin-bottom: 50px;
  }

  .hero-main__button {
    margin-bottom: 67px;
    padding-left: 30px;
    padding-right: 30px;

    font-size: $hero-button-font-size-desktop;
  }
}
