.contacts {
  padding: 50px 0;
  background-color: $white-color;

  &__link {
    color: $pink-color;
    text-decoration: none;
  }

  &__list {
    @include list-killer;
    text-align: center;
  }

  &__text {
    @include margin-killer;
    margin-bottom: 28px;
    padding: 0 40px;

    color: $pink-color;
    font-size: $title-font-size;
    font-weight: 300;
  }

  &__title {
    display: inline-block;

    margin-bottom: 10px;

    color: $main-color;
    font-size: $general-heading-size;
    font-weight: bold;
  }
}

@media (min-width: $tablet-width) {
  .contacts__list {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
  }

  .contacts__item {
    width: 50%;
  }
}

@media (min-width: $desktop-width) {
  .contacts__item {
    width: 33%;
  }
}
