.button {
  display: inline-block;

  padding: 16px 35px;

  color: $white-color;
  font-weight: bold;
  font-size: $general-heading-size;
  line-height: $general-heading-size;
  text-decoration: none;
  text-align: center;

  border: solid 3px $white-color;
  border-radius: 40px;

  background-color: transparent;
}

.button:hover {
  color: $pink-color;

  background-color: $white-color;
}

.button:active {
  color: rgba($pink-color, 0.3);
  background-color: $white-color;
}

@media (min-width: $desktop-width) {
  .button {
    font-size: $general-heading-size;
    padding: 15px 30px;
  }
}
