.main-nav {
  @include general-heading-bold;
  text-align: center;
  color: $white-color;

  &__toggle {
    position: absolute;

    width: 50px;
    height: 24px;

    @include margin-killer;
    top: 20px;
    right: 10px;

    font-size: 0;

    border: 0;
    background-image: url("/sass/header.blocks/main-nav/icon-menu-burger.svg");
  }
}
