.main-nav {
  @include general-heading-bold;
  text-align: center;
  color: $white-color;

  &__toggle {
    position: absolute;

    width: 50px;
    height: 24px;

    @include margin-killer;
    top: 0;
    right: 20px;

    font-size: 0;

    border: 0;

    background-color: transparent;

    cursor: pointer;
  }

  &__toggle-ico {
    fill: $white-color;
  }

  &__toggle-ico:hover {
    fill: $pink-color;
  }

  &__toggle-ico:active {
    fill: $pink-transparent;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    top: 20px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__toggle {
    display: none;
  }
}
