.main-nav {
  @include general-heading-bold;
  text-align: center;
  color: $white-color;

  &__toggle {
    position: absolute;

    width: 50px;
    height: 24px;

    @include margin-killer;
    top: 20px;
    right: 10px;

    font-size: 0;

    border: 0;
    background-image: url("../img/icon-menu-burger.svg");
  }
}

@media (min-width: $desktop-width) {
  .main-nav__toggle {
    display: none;
  }
}
