.hero {
  display: flex;
  flex-direction: column;

  position: relative;

  &__main {
    position: relative;

    padding: 0 20px;
    padding-top: 25px;

    background-color: $main-color;
  }

  &__footer {
    padding: 45px 0;

    background-color: $white-color;
  }

  &__header--inner {
    padding: 35px 20px;
  }
}

@media (min-width: $tablet-width) {
  .hero__header {
    position: absolute;
    top: 0;
    right: 0;
  }

  .hero__header--inner {
    position: static;

    padding: 81px 20px;
  }

  .hero__main {
    width: 300px;
    height: 620px;

    padding-top: 0;

    background-color: transparent;
  }

  .hero__footer {
    padding-top: 60px;
  }
}

@media (min-width: $desktop-width) {
  .hero__main {
    height: 853px;
  }

  .hero__header--inner {
    padding: 76px 20px;
    padding-top: 184px;
  }
}
