.hero {
  display: flex;
  flex-direction: column;

  position: relative;

  &__main {
    position: relative;

    padding: 0 20px;
    padding-top: 25px;

    background-color: $main-color;
  }

  &__footer {
    padding: 45px 20px;

    background-color: $white-color;
  }
}

@media (min-width: $tablet-width) {
  .hero {
    height: 864px;
  }

  .hero__header {
    position: absolute;
  }

  .hero__main {
    width: 300px;
    height: 620px;

    padding-top: 0;

    background-color: transparent;
  }

  .hero__footer {
    padding-top: 60px;
  }
}

@media (min-width: $desktop-width) {
  .hero {
    height: 1066px;
  }

  .hero__main {
    height: 745px;
  }
}
