.hero-footer {
  min-height: 175px;
  box-sizing: border-box;

  &__text {
    @include margin-killer;
    padding: 0 35px;

    color: $main-color;

    @include general-text-lengthy;
    text-align: center;
  }
}

@media (min-width: $tablet-width) {
  .hero-footer__text {
    @include general-heading-normal;
    padding: 0 110px;
  }
}

@media (min-width: $desktop-width) {
  .hero-footer__text {
    padding: 0 310px;
  }
}
