.user-post {
  margin-bottom: 20px;

  &__blockquote {
    margin: 0 20px;
    padding: 25px 17px;

    @include general-text-std;

    background-color: $gray-color;
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;

    padding: 0 20px;

    box-sizing: border-box;
  }

  &__image--panorama {
    padding: 0;
  }

  &__link {
    display: block;

    text-align: center;
  }
}

@media (min-width: $tablet-width) {
  .user-post {
    width: 300px;

    display: flex;
    flex-direction: column;

    box-sizing: border-box;
  }

  .user-post:first-of-type {
    width: 660px;

    margin-left: -20px;

    flex-shrink: 0;
  }

  .user-post__image {
    padding: 0;
  }

  .user-post__blockquote {
    flex-grow: 1;

    margin: 0;
  }

  .user-post__blockquote--panorama {
    margin: 0 20px;
  }
}

@media (min-width: $desktop-width) {
  .user-post:first-of-type {
    width: 1200px;

    margin-left: -130px;
  }

  .user-post__blockquote--panorama {
    margin: 0 130px;
  }
}
