.feature {
  overflow: hidden;
  background-color: $gray-color;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;

  &__wrapper {
    width: 320px;
    margin: 0 auto;
  }

  &__heading {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;

    color: $black-color;

    @include general-heading-bold;
  }

  &__image {
    display: block;

    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: -42px;
  }

  &__image--only-desktop {
    display: none;
  }

  &__item {
    margin-bottom: 27px;
  }

  &__item:last-of-type {
    margin-bottom: 40px;
  }

  &__list {
    margin: 0;
    padding: 0 30px;
    padding-top: 36px;

    text-align: center;
    list-style: none;
  }

  &__paragraph {
    margin: 0;
    padding: 0;

    color: $main-color;

    @include general-text-std;
  }
}

@media (min-width: $tablet-width) {
  .feature__wrapper {
    width: 660px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;

    padding: 0 20px;
    box-sizing: border-box;
  }

  .feature__image {
    width: 268px;
    height: 481px;

    margin-right: 40px;
  }

  .feature__list {
    width: 310px;
    padding: 0;
    padding-top: 72px;

    box-sizing: border-box;

    text-align: left;
  }

  .feature__item {
    margin-bottom: 30px;
  }

  .feature__24 {
    padding: 0;
    padding-top: 100px;
    padding-right: 35px;
  }
}

@media (min-width: $desktop-width) {
  .feature__wrapper {
    width: 1200px;

    padding: 0 130px;

    flex-direction: row;

    box-sizing: border-box;
  }

  .feature__list {
    width: 100%;
    display: flex;

    padding-top: 96px;

    text-align: center;

    order: 1;
  }

  .feature__item {
    width: 300px;

    margin-right: 20px;
    padding: 0 31px;
  }

  .feature__item:last-of-type {
    margin-right: 0;
  }

  .feature__image {
    width: 292px;
    height: 302px;

    margin-top: 0;
    margin-right: 32px;
  }

  .feature__image--only-desktop {
    display: block;
  }

  .feature__image--no-padding {
    margin-right: 0;
  }

  .feature__heading {
    font-size: $feature-heading-size;
    line-height: $title-line-height;

    margin-bottom: 24px;
  }

  .feature__paragraph {
    @include general-heading-normal;
  }

  .feature__24 {
    padding: 60px 130px;
  }
}
