.hero-header {
  min-height: 170px;
  width: 100%;

  box-sizing: border-box;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  &__image {
    padding-top: 110px;
    vertical-align: bottom;
  }

  &__title {
    @include margin-killer;

    color: $white-color;
    font-size: $title-font-size;
    font-weight: 300;
    text-align: center;
  }
}

@media (min-width: $tablet-width) {
  .hero-header__image {
    padding-top: 75px;
    margin-left: -20px;
 }
}

@media (min-width: $desktop-width) {
  .hero-header {
    text-align: right;
 }
}
