.hero-header {
  min-height: 170px;

  box-sizing: border-box;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 705px auto;
  }

  &__image {
    display: block;

    padding-top: 110px;

    vertical-align: bottom;
  }

  &__title {
    max-width: 300px;

    @include margin-killer;
    margin: 0 auto;

    color: $white-color;
    font-size: $title-font-size;
    line-height: $title-line-height-28;
    font-weight: 300;
    text-align: center;
  }
}

@media (min-width: $tablet-width) {
  .hero-header {
    width: 100%;

    background-image: url("../img/bg-back-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1200px auto;
    }
  }

  .hero-header__title {
    margin: 0 auto;

    @include general-heading-desktop;
  }

  .hero-header__title--photo {
    max-width: 658px;
  }

  .hero-header__title--form {
    max-width: 500px;
  }

  .hero-header__image {
    padding-top: 72px;
  }
}

@media (min-width: $desktop-width) {
  .hero-header {
    text-align: right;
    background-image: url("../img/bg-back-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 2560px auto;
    }
  }

  .hero-header__image {
    padding-top: 208px;
    padding-left: 146px;
  }

  .hero-header__title--form {
    max-width: 752px;
  }
}
