.app {
  &__heading {
    @include margin-killer;

    margin-bottom: 48px;

    color: $main-color;

    @include general-text-lengthy;
    text-align: center;
  }
}

@media (min-width: $tablet-width) {
  .app__heading {
    margin-bottom: 72px;

    @include general-heading-normal;
  }

  .app__filters {
    flex-grow: 1;
  }
}

@media (min-width: $desktop-width) {
  .app {
    padding: 0 130px;
  }

  .app__heading {
    margin-bottom: 69px;
  }
}
